<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="App Tests">
            <directory>test</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="\lib\Logger" file="lib/Logger.php" >
            <arguments>
                <string>reports</string>
            </arguments>
        </listener>
        <listener class="ScreenshotListener" file="listeners/ScreenshotListener.php">
            <arguments>
                <string>reports/screenshots</string>
            </arguments>
        </listener>
    </listeners>
</phpunit>
